<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <style>-->
<!--        button{-->
<!--    margin-top: 50px;-->
<!--    width: 30%;-->
<!--    background-color: #ffffff;-->
<!--    color: #080710;-->
<!--    padding: 15px 30px;-->
<!--    font-size: 18px;-->
<!--    font-weight: 600;-->
<!--    border-radius: 5px;-->
<!--    cursor: pointer;-->
<!--}-->

<!--    </style>-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="get" action="form">-->
<!--<h2>submit your application:</h2>-->
<!--<button type="submit">click</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="{% static 'css/button.css ' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Western Bank</a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
<!--        <li><a href="#">About</a></li>-->
<!--        <li><a href="#">Services</a></li>-->
<!--        <li><a href="#">Contact</a></li>-->
<!--        <li><a href="#">Feedback</a></li>-->
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">A array of attractive products that fulfils your wish of sweet dream home.</div>
    <div class="sub_title">Home Loans</div>
    <div class="btns">
        <form method="get" action="form">
                <button type="submit">Apply</button>
        </form>
      </div>
  </div>
</body>
</html>
